/*start off with invisible panels*/
#C1, #C2, #C3, #C3pt2, #C4, #C5, #C6, #C7pt1, #C7pt2, #O2, #O3, #O4, #O5, #O6{
	display: none;
}

#housey{
	opacity: 40%;
}

#button{
	z-index: 999;
	width: 100%;
	background: #161616;
	position: absolute;
	top: 50%;
}

p{
	color: white;
	text-align: center;
	font-family: "ZCOOL KuaiLe";
	font-size: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}

#OGbutton{
	font-family: 'Eater', cursive;
	top: 0;
	transform: translateY(0);


}

#StartButton{
	text-align: center;
	font-size: 400%;
	height: 10%;
	width: 400px;
	background: red;
	border-radius: 30px;
	left: 50%;
	margin-left: -200px;
	bottom: 5%;
	position: absolute;
	display: none;
}
#StartButton:hover{
	text-align: center;
	font-size: 400%;
	height: 10%;
	width: 400px;
	background: black;
	color: white;
	border-radius: 30px;
	left: 50%;
	margin-left: -200px;
	bottom: 5%;
	position: absolute;
}

body{
	margin: 0;
	padding: 0;
	background: #fffbf8;
	top: 50%;
	height: 100vh;
	overflow-y: hidden;
	overflow-anchor: none;

}

#footerC{
	position:absolute;
	justify-content: center;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: dimgray;
	opacity: 0.9;
	height: 50px;
	width: 100%;
	z-index: 9999;
	display: flex;
}

#footerText{
	font-size: 20px;
	color: black;
	margin-right: 50px;
	text-align: center;
}

a{
	text-decoration: none;

}
#footerText:hover{
	color: white;
}


#suddenimg{
	position: absolute; 
	top: 0; display: 
	none; width: 100%;
}
